/* App.css */

.faq-box {
  margin: auto;
  width: 50%;

}
h1{
  text-align: center;
}

.que {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  margin: auto;
}

.que:hover {
  background-color: #e0e0e0;
}



.que button {
  background-color: red;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.ans {
  padding: 10px;
  background-color: green;
  border: 1px solid #ccc;
  display: none;
  
}

.ans.show {
  display: block;
}
